
/*font-family: 'Cardo', serif;
font-family: 'Oswald', sans-serif;*/

body{
  /*line-height: 30px;*/
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-image: url(../img/bunting.png);
  line-height: 1.3;
      margin: 0px;
  /*width: 90%;
  margin-left: auto;
  margin-right: auto;*/
  background-color: white;
  color: #555555;

/*  */
}

header{
background-color: #000000;

}
header p{
color: #999999;

}


.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.main-content{
  /*width: 90%;
  margin-left: auto;
  margin-right: auto;*/
  background-color: rgb(79,36,154);
}

h1{
  /*line-height: 80px;*/
  color: #b72b36;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  /*width: 90%;
  margin-left: auto;*/
  margin-right: 30px;
}

.header-main{
  background-color: tomato;

}

a{
  color: olive;


}

nav a{
  margin-right: 30px;
  /*margin-bottom: 200px;*/
  background-color: white;
  text-decoration: none;
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  background-color: rgba(150,156,200,0.2);
  text-align: center;
  font-family: 'Oswald', sans-serif;

}
.important{
  color: red;
  font-style: italic;
}

.bigtext{

  font-size: 45px;
}
