*{
  box-sizing: border-box;
}
body{
  background-image: url(wallpaper);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.zone{
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  line-height: 1.5rem;
}
h1 {
  color: white;
  font-size: 4rem;
  font-family: 'Charmonman', cursive;
}
#pict{
  width: 400px;
}
.detail strong,
h3{
  color: #b82220;
}
.detail span,
#desc{
  color: #ffdfdf;
}
